
.row-heading {
    font-size: .7em;
    font-weight: 500;
    text-transform: uppercase
}

.timetable .time-label {
    font-size: .8em;
    font-weight: 500
}

.timetable .time-entry.vip-only {
    background-color: #c490f5;
    border: 1px solid #6a16b8
}

.timetable .time-entry.vip-only:hover { background-color: #ae67f0 }